<!-- <h1>HELLO</h1> -->
<header>
  <h1 class="first-h1">Angular </h1><h1 class="second-h1"> URL Shortener</h1>
</header>

<section class="container">
  <form
    #urlForm="ngForm"
    (ngSubmit)="onSubmitUrlForm(urlForm)"
    novalidate
    autocomplete="off"
    *ngIf="!isFormSubmitted"
  >
    <input
      class="form-input"
      name="inputUrl"
      type="url"
      [(ngModel)]="model.inputUrl"
      #inputUrl="ngModel"
      placeholder="Paste your url here"
      required
    />
    

    <button type="submit" [disabled]="urlForm.invalid" class="form-btn">
      {{ !isLoading ? 'Generate URL' : 'Generating...' }}
    </button>
  </form>

  <div class="short-url-div" *ngIf="isFormSubmitted">
    <h2>Generated URL</h2>
    <div>
      <p>
        <a
          [href]="shortUrl"
          #shortUrlElementRef
          target="_blank"
          title="Click Me"
          >{{ shortUrl }}</a
        >
      </p>
    </div>

    <div class="short-url-btn-div">
      <button (click)="copyUrl(shortUrlElementRef)">
        {{ !isTextCopied ? 'Copy' : 'Copied' }}</button
      >&nbsp;&nbsp;&nbsp;
      <button (click)="reset()">Reset</button>
    </div>
  </div>
  <app-footer></app-footer>
</section>
